{% extends 'base.html' %}
{% load static %}
{% block main_body %}
<body>
<main>
    <section class="story">
        <h2>{{message}} And Welcome...</h2>
        <p><strong>MiStory.AI</strong> is an innovative platform that uses AI technology to help people tell the stories 0f family and friends in an easy and effortless way. The platform offers a scalable and profitable business model that has the potential to capture a large market, including older people with unique stories and wisdom. The technical specifications required to build MyStory.ai include front-end and back-end development, video upload and storage, AI video editing technology, database management, and website development.</p> 
    </section>
    <button type="submit" class="btn btn-primary">Sign in</button>
    <button type="submit" class="btn btn-primary">Sign up</button>
</main>
<body>
{% endblock %}